[submodule "resolver/celestia/proto/submodules/cosmos-proto"]
	path = resolver/celestia/proto/submodules/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "resolver/celestia/proto/submodules/protobuh"]
	path = resolver/celestia/proto/submodules/protobuh
	url = https://github.com/protocolbuffers/protobuf
[submodule "resolver/celestia/proto/submodules/celestia-app"]
	path = resolver/celestia/proto/submodules/celestia-app
	url = https://github.com/celestiaorg/celestia-app
[submodule "resolver/celestia/resolver/celestia/proto/submodules/gogoproto"]
	path = resolver/celestia/resolver/celestia/proto/submodules/gogoproto
	url = https://github.com/cosmos/gogoproto
[submodule "resolver/celestia/resolver/celestia/proto/submodules/googleapis"]
	path = resolver/celestia/resolver/celestia/proto/submodules/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "resolver/celestia/proto/submodules/cosmos-sdk"]
	path = resolver/celestia/proto/submodules/cosmos-sdk
	url = http://github.com/celestiaorg/cosmos-sdk
[submodule "resolver/celestia/proto/submodules/ibc-go"]
	path = resolver/celestia/proto/submodules/ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "resolver/celestia/third-party/ics23"]
	path = resolver/celestia/third-party/ics23
	url = https://github.com/cosmos/ics23
[submodule "resolver/celestia/third-party/real-cosmos-sdk"]
	path = resolver/celestia/third-party/real-cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
