@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .lifting-shadow {
        box-shadow: 0px 3px 6px rgba(42, 43, 46, 0.07), 0px 1px 2px rgba(42, 43, 46, 0.04);
    }

    .radial-check-bg {
        background-image: url("../public//images//home-bg.svg"), url("../public//images//radial-bg.svg");
        background-size: 300%, 100% 101%;
        background-position: 0 0, center;
        background-repeat: no-repeat;
    }

    @media (min-width: 720px) {
        .radial-check-bg {
            background-size: 100%, 100% 101%;
        }
      }
}