@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;
    --color-foreground: 236 15% 16%;
    --color-neutral: 224 11% 45%;
    --color-muted: 222 10% 55%;
  }
}

@layer components {
  .hide-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

  .hide-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}
